<span>
    Welcome to decentralized Tic Tac Toe!
</span>
<span *ngIf="!isPlaying">Please choose an account and start the game</span>
<span *ngIf="isPlaying"> You are playing with {{player_states[player1]}}</span>

<div class="row">
    <div class="column column-33">
        <label>Contract address</label>
        <input type="text" [(ngModel)]="contract_address" />
    </div>
    <div class="column column-33">
        <label>Select account Account</label>
        <select [(ngModel)]="player1">
            <option *ngFor="let account of accounts" [value]="account">{{account}}</option>
        </select>
    </div>
    <div class="column column-25">
        <label>
            <br />
        </label>
        <button (click)="startGame()">Start game</button>
    </div>
    <div class="column column-33">
        <label>Game Status</label>
        <blockquote>
            <p>{{game_status}}</p>
        </blockquote>
    </div>
</div>


<div class="game-table">
    <div class='line'>
        <div class="box" (click)="clickBox(0)">
            <span>{{boxValues[0]}}</span>
            <div class="horizontal-line" *ngIf="winnerConfirmed && showLine1"></div>
            <div class="vertical-line" *ngIf="winnerConfirmed && showColumn1"></div>

            <div class="first-diagonal-line" *ngIf="winnerConfirmed && showDiagonal1"></div>
        </div>
        <div class="box" (click)="clickBox(1)">
            <span>{{boxValues[1]}}</span>
            <div class="horizontal-line" *ngIf="winnerConfirmed && showLine1"></div>
            <div class="vertical-line" *ngIf="winnerConfirmed && showColumn2"></div>
        </div>
        <div class="box" (click)="clickBox(2)">
            <span>{{boxValues[2]}}</span>
            <div class="horizontal-line" *ngIf="winnerConfirmed && showLine1"></div>
            <div class="vertical-line" *ngIf="winnerConfirmed && showColumn3"></div>

            <div class="second-diagonal-line" *ngIf="winnerConfirmed && showDiagonal2"></div>
        </div>
    </div>

    <div class='line'>
        <div class="box" (click)="clickBox(3)">
            <span>{{boxValues[3]}}</span>
            <div class="horizontal-line" *ngIf="winnerConfirmed && showLine2"></div>
            <div class="vertical-line" *ngIf="winnerConfirmed && showColumn1"></div>
        </div>
        <div class="box" (click)="clickBox(4)">
            <span>{{boxValues[4]}}</span>
            <div class="horizontal-line" *ngIf="winnerConfirmed && showLine2"></div>
            <div class="vertical-line" *ngIf="winnerConfirmed && showColumn2"></div>

            <div class="first-diagonal-line" *ngIf="winnerConfirmed && showDiagonal1"></div>
            <div class="second-diagonal-line" *ngIf="winnerConfirmed && showDiagonal2"></div>
        </div>
        <div class="box" (click)="clickBox(5)">
            <span>{{boxValues[5]}}</span>
            <div class="horizontal-line" *ngIf="winnerConfirmed && showLine2"></div>
            <div class="vertical-line" *ngIf="winnerConfirmed && showColumn3"></div>
        </div>
    </div>

    <div class='line'>
        <div class="box" (click)="clickBox(6)">
            <span>{{boxValues[6]}}</span>
            <div class="horizontal-line" *ngIf="winnerConfirmed && showLine3"></div>
            <div class="vertical-line" *ngIf="winnerConfirmed && showColumn1"></div>

            <div class="second-diagonal-line" *ngIf="winnerConfirmed && showDiagonal2"></div>
        </div>
        <div class="box" (click)="clickBox(7)">
            <span>{{boxValues[7]}}</span>
            <div class="horizontal-line" *ngIf="winnerConfirmed && showLine3"></div>
            <div class="vertical-line" *ngIf="winnerConfirmed && showColumn2"></div>
        </div>
        <div class="box" (click)="clickBox(8)">
            <span>{{boxValues[8]}}</span>
            <div class="horizontal-line" *ngIf="winnerConfirmed && showLine3"></div>
            <div class="vertical-line" *ngIf="winnerConfirmed && showColumn3"></div>

            <div class="first-diagonal-line" *ngIf="winnerConfirmed && showDiagonal1"></div>
        </div>
    </div>
</div>

<br />

<p *ngIf="player1Won">Congrats! You have won the game! For playing again, please refresh the page!</p>
<p *ngIf="player2Won">You have lost! Better luck next time! For playing again, please refresh the page!</p>
<p *ngIf="winnerConfirmed && !player1Won && !player2Won">This is a draw! You are equal! For playing again, please refresh the page!</p>
<!-- <p *ngIf="draw">Somebody cheated! It's a draw! Points are going to be deducted from each player for this! Please report the other player if he cheated!</p> -->

<p>Note: Validations will be added later on</p>