<dl>
    <dt>
        <a [routerLink]="['/auction']">Auction</a> - Simple auction app, more details
        <a href="https://github.com/aoancea-dapps/tic-tac-toe/blob/master/README.md#simple-auctionnot-the-actual-game-but-a-test-before-starting-on-it"
            target="_blank">here</a>
    </dt>
    <dt>
        <a [routerLink]="['/auction-metamask']">Auction MetaMask</a> - Simple auction app, more details
        <a href="https://github.com/aoancea-dapps/tic-tac-toe/blob/master/README.md#simple-auctionnot-the-actual-game-but-a-test-before-starting-on-it"
            target="_blank">here</a>
    </dt>
    <dt>
        <a [routerLink]="['/raise-funds']">Raise funds</a> - Crowd funding app, more details
        <a href="https://github.com/aoancea-dapps/tic-tac-toe/blob/master/README.md#raise-funds-appnot-the-actual-game-but-a-test-before-starting-on-it"
            target="_blank">here</a>
    </dt>

    <dt>Tic Tac Toe stages</dt>
    <dd>
        <a [routerLink]="['/tic-tac-toe-stage-1']">Tic Tac Toe Stage 1</a> - Tic Tac Toe Stage 1 dapp, more details
        <a href="https://github.com/aoancea-dapps/tic-tac-toe/blob/master/README.md#stage-1---single-player---ganache-desktop-test-net---in-progress"
            target="_blank">here</a>
    </dd>
    <dd>
        <a href="/">Tic Tac Toe Stage 2</a> - Tic Tac Toe Stage 2 dapp, more details
        <a href="https://github.com/aoancea-dapps/tic-tac-toe/blob/master/README.md#stage-2---single-player---metamask-ropsten-test-net---not-started"
            target="_blank">here</a>
    </dd>
    <dd>
        <a href="/">Tic Tac Toe Stage 3</a> - Tic Tac Toe Stage 3 dapp, more details
        <a href="https://github.com/aoancea-dapps/tic-tac-toe/blob/master/README.md#stage-3---multi-player---ganache-desktop-test-net---not-started"
            target="_blank">here</a>
    </dd>
    <dd>
        <a href="/">Tic Tac Toe Stage 4</a> - Tic Tac Toe Stage 4 dapp, more details
        <a href="https://github.com/aoancea-dapps/tic-tac-toe/blob/master/README.md#stage-4---multi-player---metamask-ropsten-test-net---not-started"
            target="_blank">here</a>
    </dd>

</dl>

<router-outlet></router-outlet>