<span>
    Welcome to decentralized Tic Tac Toe! You are playing with '1' always!
</span>


<div class="game-table">
    <div class='line'>
        <div class="box">0</div>
        <div class="box">0</div>
        <div class="box">0</div>
    </div>

    <div class='line'>
        <div class="box">1</div>
        <div class="box">0</div>
        <div class="box">1</div>
    </div>
    <div class='line'>
        <div class="box">1</div>
        <div class="box">1</div>
        <div class="box">0</div>
    </div>
</div>